<div class="container">
  <div class="column-one">
    <img src="assets/logo.png" alt="GitHub" class="logo-github">
    <form class="search-user">
      <span>Buscar usuário</span>
      <p>Crie sua conta através do seu usuário do Github</p>
      <div class="input-group">
        <div class="div-icon-input">
          <img src="assets/icons/account_circle.svg" alt="Delete" height="24">
        </div>
        <input type="text" placeholder="@username" id="username">
      </div>
      <button  type="submit" (click)="setUsername()">Cadastrar</button>
    </form>
  </div>
  <div class="column-two">
  </div>
</div>
