<div class="container">
  <div class="box-cards">
    <div class="box-info">
      <div class="personal-info">
        <div class="row-name-image">
          <div class="image-profile"></div>
          <div class="name">
            <div class="full-name">
              <span>Gabriel Castro</span>
              <img src="assets/icons/icon-right.png" alt="" height="15px">
            </div>
            <span class="user-name">@gcpinheiro</span>
          </div>
        </div>
        <div class="row-location-avaliation">
          <div class="business">
            <img src="assets/icons/business.png" alt="business" height="16px">
            <span>GO.K Digital</span>
          </div>
          <div class="location">
            <img src="assets/icons/place.png" alt="location" height="16px">
            <span>São Paulo, Brazil</span>
          </div>
          <div class="avaliation">
            <img src="assets/icons/star.png" alt="location" height="16px">
            <span>2</span>
          </div>
        </div>
      </div>
      <div class="delete">
        <div class="div-icon-delete">
          <img src="assets/icons/delete.png" alt="delete" height="24px">
        </div>
      </div>
    </div>
  </div>
</div>
